$blue1: #59ABD2;
$blue2: #75C7D8;
$light-grey: #F3F3F3;
$mid-grey: #9F9F9F;
$grey: #505050;
$off-black: #454545;

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.blue-box, .white-box {
  position: relative;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  width: 670px;
  height: 510px;
  padding: 45px 70px;
  box-sizing: border-box;
  display: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 50px auto 0;

  // TODO REMOVE
  &#page-1 {
    h2 {
      text-align: left;
    }
  }

  &.show {
    display: block;
  }

  .back-arrow {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: $light-grey;
    border-radius: 50%;
    background-image: url("img/back_arrow.png");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: darken($light-grey, 5%);
    }
  }

  .content-container {
    margin: 0 auto;
    width: 300px;
  }

  label, select, input, .primary-btn {
    display: block;
    margin: 20px 0;
  }

  input, .primary-btn {
    &:hover {
      border-color: $blue1;
    }
  }

  select, .primary-btn {
    width: 240px;
  }

  select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
  }

  .header-container {
    position: relative;
    line-height: 40px;
    margin-bottom: 10px;

    h2 {
      margin: 0;
      text-align: left;
    }
    h2 + span {
      font-size: 12px;
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 32px;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
  }

  label {
    &::before {
      content: '* ';
      color: red;
    }
  }

  select {
    color: white;
    margin-bottom: 40px;
    background: transparent url("img/down_arrow.png") no-repeat 94%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 40px;

    &:hover {
      border-color: darken($blue1, 10%);
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }

  .primary-btn {
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: darken(white, 5%);
    }
  }

  .practitioner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .practitioner {
      &:hover, &:active {
        img {
          border: 3px $blue1 solid; // TODO
          margin-top: 0;
          margin-bottom: 20px;

          transition: margin-top 300ms ease-out, margin-bottom 300ms ease-out;
        }
      }

      img {
        border: 3px transparent solid;
        display: block;
        border-radius: 100px;
        min-width: 120px;
        min-height: 120px;
        width: 120px;
        height: 120px;
        margin: 10px auto;
        transition: margin-top 300ms ease-out, margin-bottom 300ms ease-out;
      }
      span {
        display: block;
        text-align: center;
        font-size: 13px;
      }
      span + span {
        font-size: 11px;
        margin-bottom: 20px;
      }
    }
  }

  .help-bubble {
    position: absolute;
    left: 105px;
    top: 30px;
    color: $off-black;
    font-size: 9px;
    width: 16px;
    height: 16px;
    border: 2px darken($light-grey, 5%) solid;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;

    &:hover {
      border-color: darken($light-grey, 15%);
      &:before {
        content: "This is some sample text, your helper text goes here";
        background: black;
        color: white;
        position: absolute;
        top: 8px;
        left: 16px;
        padding: 10px 10px 30px;
        font-size: 11px;
        line-height: 11px;
        width: 180px;
        height: 50px;
        border-radius: 10px;
      }
    }
  }

  .title-container {
    text-align: center;
    margin-bottom: 10px;

    img {
      margin: 0 20px;
    }

    div {
      margin: 0 auto;
      display: inline-block;
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 14px;

    .calendar-day {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      line-height: 40px;
      .calendar-date {
        border-radius: 50%;
        &:hover {
          background-color: $blue1;
        }
      }
    }
  }

  .times-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .time-item {
      padding: 10px;

      .primary-btn {
        background-color: transparent;
        border-color: white;
        color: white;
        width: unset;
        padding: 8px;
        margin: 0 auto;
        border-radius: 10px;
        font-size: 12px;
        &:hover {
          background-color: transparentize($off-black, 0.95)
        }
      }
    }
  }

  .details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .detail-item {
      padding-right: 20px;
      &.long {
        grid-column-end: span 2;
      }
    }
  }

  .confirmation-grid {
    border-bottom: 1px white solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .confirmation-item {
      padding-top: 25px;
      padding-right: 20px;
      padding-bottom: 25px;
      border-top: 1px white solid;

      div {
        margin-bottom: 6px;
      }
      div ~ div {
        font-size: 12px;
        line-height: 12px;
      }
      div + div {
        margin-top: 20px;
      }

      img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }
      img + div {
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
}

.blue-box {
  &.confirmed {
    text-align: center;

    img {
      margin: 50px;
    }

    button {
      display: inline;
      width: unset;
    }
  }

  &:before, &:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 10px;
  }

  &:before {
    background-image: linear-gradient(to bottom right, $blue1, $blue2);
    z-index: -2;
  }

  &:after {
    background-image: url("img/morphing_diamonds.png");
    opacity: 0.1;
    z-index: -1;
    background-size: 30px;
  }
}

.white-box {
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
  display: block;
  margin: 0;
  border-radius: 10px 0 0 10px;

  label, .primary-btn {
    margin: 0 0 15px;
    font-size: 16px;
  }

  input {
    margin: 0 0 20px;
    border-color: $mid-grey;
  }

  &.small {
    width: 240px;
    padding: 0;

    img {
      display: block;
      margin: 110px auto 10px;
    }

    span {
      display: block;
      text-align: center;
      font-size: 13px;

      & + span {
        font-size: 11px;
        margin-bottom: 25px;
      }
    }

    p {
      text-align: center;
      font-size: 13px;

      //border: 1px solid $grey;
      //width: 170px;
      //margin: 10px auto;
      //padding: 10px 0;
      //border-radius: 10px;

      & + p {
        margin-bottom: 20px;
      }
    }

    .primary-btn {
      font-size: 13px;
      width: 170px;
      margin: 0 auto;
      padding: 10px 15px;
      background-color: $off-black;
      color: white;
      border-radius: 10px;
      &:hover {
        background-color: lighten($off-black, 5%);
      }
    }

    & + .blue-box {
      margin: 0;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 430px;
      padding-left: 50px;
      padding-right: 50px;

      &:after, &:before {
        visibility: hidden;
      }
    }
  }

}
