$blue1: #59ABD2;
$blue2: #75C7D8;
$light_grey: #F3F3F3;
$mid_grey: #9F9F9F;

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.blue-box, .white-box-blue-sidebar {
  position: relative;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  width: 670px;
  height: 510px;
  padding: 45px 70px;
  box-sizing: border-box;
  overflow: hidden; // TODO REMOVE
  display: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 50px auto 0;

  // TODO REMOVE
  &#page-1 {
    h2 {
      text-align: left;
    }
  }

  &.show {
    display: block;
  }

  .back-arrow {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: $light_grey;
    border-radius: 50%;
    background-image: url("img/back_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .content-container {
    margin: 0 auto;
    width: 300px;
  }

  label, select, input, .primary-btn {
    display: block;
    margin: 20px 0;
  }

  input, .primary-btn {
    &:hover {
      border-color: $blue1;
    }
  }

  select, .primary-btn {
    width: 240px;
  }

  select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
  }

  .header-container {
    position: relative;
    line-height: 40px;
    margin-bottom: 10px;

    h2 {
      margin: 0;
      text-align: left;
    }
    h2 + span {
      font-size: 12px;
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 32px;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
  }

  label {
    &::before {
      content: '* ';
      color: red;
    }
  }

  select {
    color: white;
    margin-bottom: 40px;
    background: transparent url("img/down_arrow.png") no-repeat 94%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 40px;

    &:hover {
      border-color: darken($blue1, 10%);
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }

  .primary-btn {
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .practitioner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .practitioner {
      &:hover, &:active {
        img {
          border: 3px $blue1 solid; // TODO
          margin-top: 0;
          margin-bottom: 20px;

          transition: margin-top 300ms ease-out, margin-bottom 300ms ease-out;
        }
      }

      img {
        border: 3px transparent solid;
        display: block;
        border-radius: 100px;
        min-width: 120px;
        min-height: 120px;
        width: 120px;
        height: 120px;
        margin: 10px auto;
        transition: margin-top 300ms ease-out, margin-bottom 300ms ease-out;
      }
      span {
        display: block;
        text-align: center;
        font-size: 13px;
      }
      span + span {
        font-size: 11px;
        margin-bottom: 20px;
      }
    }
  }

  .title-container {
    text-align: center;
    margin-bottom: 30px;

    img {
      margin: 0 20px;
    }

    div {
      margin: 0 auto;
      display: inline-block;
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;

    .calendar-day {
      .calendar-date {
        width: 40px;
        height: 40px;
        margin: 2.5px auto;
        line-height: 40px;
        &:hover {
          border-radius: 50%;
          background-color: $blue1;
        }
      }
    }
  }

  .details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .detail-item {
      padding-right: 20px;
      &.long {
        grid-column-end: span 2;
      }
    }
  }

  .confirmation-grid {
    border-bottom: 1px white solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .confirmation-item {
      padding-top: 25px;
      padding-right: 20px;
      padding-bottom: 25px;
      border-top: 1px white solid;

      div {
        margin-bottom: 6px;
      }
      div ~ div {
        font-size: 12px;
        line-height: 12px;
      }
      div + div {
        margin-top: 20px;
      }

      img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }
      img + div {
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
}

.blue-box {
  &.confirmed {
    text-align: center;

    img {
      margin: 50px;
    }

    button {
      display: inline;
      width: unset;
    }
  }

  &:before {
    content: "";
    background-image: linear-gradient(to bottom right, $blue1, $blue2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
  }

  &:after {
    content: "";
    background-image: url("img/morphing_diamonds.png");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 30px;
  }
}

.white-box-blue-sidebar {
  background-color: white;
  color: black;

  label, .primary-btn {
    margin: 0 0 15px;
    font-size: 16px;
  }

  input {
    margin: 0 0 20px;
    border-color: $mid_grey;
  }

}

.back-btn {

}
